# Build files, documentation, benchmarks
target
wasm/index.css
wasm/index.html
docs/gifs/*
resources/archived resources

# VSCode/IDE config files
Cargo.lock
.vscode/*
.rustfmt.toml
.prettierignore
.prettierrc.json

# Save files, morgue files
savegame.bin
morgue

# A default user config will be written on first run, if not present
config.toml