html {
    display: table;
    margin: auto;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

figure {
    display: inline-flex;
    border: 1px solid goldenrod;
}

canvas {
    background-color: black;
    border: 4px solid darkgreen;
}